@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0, .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


.App {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0.5rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}


.app_header {
    font-size: 30px;
    float: left;
    /* margin-left: 50px; */
}
.app_header .nav_link {
    text-decoration: none;
}

.nav_bar {
    float: left;
}

.signin-signup {
    font-size: 20px;
    /* text-align: left; */
    /* margin-top: 30px;
    margin-left: 890px; */
}


.anchor-signin {
    color:rgb(98, 98, 221)
}

.anchor-signup {
    color: #ec1e47;
}

.anchor-signin:hover, .anchor-signup:hover {
    text-decoration: underline;
}

.left-side-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side-container input {
    height: 35px;
    border-radius: 5px;
    margin-right:5px;
    border: 2px  var(--light-color) solid;
}
.left-side-container input::placeholder {
    padding-left: 10px;
}

.left-side-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.left-side-container label {
    margin-left: 5px;
    margin-right: 7px;
    font-size: 25px;
    color: black;
}

.left-side-container img{
    border-radius:50%;
    height: 45px;
}

.profile-navbar-card{
    position: fixed;
    top: 57px;
    right: 0;
    width: 210px;
    background: #fff;
    margin-right: 2%;
    border-top: 0.05rem  var(--light-color) solid;
    border-bottom: 0.05rem  var(--light-color) solid;
    display: none;
    z-index: 1200;
}

.profile-navbar-card.active{
    display: inline-block;
   
}

.profile-navbar-card a{
    display: block;
    padding: 0.7rem 9%;
    font-size: 22px;
}

.profile-navbar-card a:hover {
    letter-spacing: .1rem;
}

.container {
    width: 100%;
    /* height: 520px; */
    display: flex;
    background-color: rgb(122, 169, 216);
      /* margin-bottom: 8px; */
      /* padding-bottom: 25px; */
    
}

.signin-container-wrapper {
    width: 100%;
    background-color: rgb(122, 169, 216);
    /* margin-bottom: 8px; */
    padding-bottom: 25px;
    
}

/* .side_bar_section {
    display:flex;
    width: 24%;
    height: 560px;
    background-color: black;
    margin-top: 29px;
    float: left;
    border-radius: 15px;
   // margin-left: 10px;  //
} */

.main_hero {
    display: block;
    width: 74%;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
}

/* .signin-content {
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-left: 100px;
    margin-left: auto;
    margin-right: auto;
} */
.Signin-header {
    margin-top: 5px;
    text-align: center;
    font-size: 35px;
    color: #fff;
}

.signin-form {
    height: 450px;
    width: 650px;
    background-color: rgb(242, 242, 255);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    /* color: rgb(75, 73, 73); */
}

.label-signin-mat {
    font-size: 30px;
    display: block;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    padding-top: 40px;
}
.label-signin-pass {
    font-size: 30px;
    display: block;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
}

.signin-mat-no, .signin-password {
    width: 350px;
    height: 40px;
    margin-left: 150px;
    margin-top: 10px;
    border-radius: 20px;
    /* border: none; */
    border: 1px rgb(75, 73, 73) solid;
}


.signin-button {
    /* font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 250px;
    margin-top: 30px;
    background-color: rgb(199, 197, 197); */

    width: 70%;
    height: 47px;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 10px;
    /* background-color: rgb(56, 56, 233); */
    /* background-color: rgb(199, 197, 197); */
    background-color: rgb(122, 169, 216);
    border: none;
    /* color: white; */
    margin-bottom: 30px;
    font-size: 30px;
}

.signin-button:hover {
    /* background-color: rgb(207, 169, 169);
    color: white; */

     /* background-color: rgb(122, 169, 216); */
     background-color: rgb(199, 197, 197);
     /* color: white; */
     letter-spacing: .1rem;
}

.not-reg-message {
    font-size: 15px;
    margin-left: 350px;
    margin-top: 10px;
}

.signin-link-signup {
    color: rgb(72, 142, 211);
    font-size: 22px;
}


.signin-link-signup:hover {
    text-decoration: underline;
    letter-spacing: .1rem;
}

/* .footer {
    font-size: 12px;
    background-color: rgb(204, 223, 216);
    height: 45px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

footer {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
} */


.footer {
    font-size: 12px;
    background-color: rgb(204, 223, 216);
    text-align: center;
    height: 45px;
    width: 100%;
    padding-top: 20px;
    
    
}

footer {
    height: 45px;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 0;
}

@media screen and (min-width: 1450px) {
    .signin-signup {
        margin-left: 990px;
    }

    .Signin-header {
        font-size: 45px;
    }
    .signin-form {
        height: 470px;
        width: 750px;
    }
    .signin-mat-no, .signin-password {
        width: 430px;
        height: 43px;
        margin-left: 150px;
        margin-top: 10px;
        border-radius: 20px;
        border: none;
    }
    
    
    .signin-button {
        width: 220px;
        height: 43px;
    }
    .not-reg-message {
        font-size: 20px;
        margin-left: 400px;
        margin-top: 20px;
    }
}