@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0, .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


.App {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0.5rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}


.app_header {
    font-size: 30px;
    float: left;
    /* margin-left: 50px; */
}
.app_header .nav_link {
    text-decoration: none;
}

.nav_bar {
    float: left;
}

.signin-signup {
    font-size: 20px;
    /* text-align: left; */
    /* margin-top: 30px;
    margin-left: 890px; */
}


.anchor-signin {
    color:rgb(98, 98, 221)
}

.anchor-signup {
    color: #ec1e47;
}

.anchor-signin:hover, .anchor-signup:hover {
    text-decoration: underline;
}

.left-side-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side-container input {
    height: 35px;
    border-radius: 5px;
    margin-right:5px;
    border: 2px  var(--light-color) solid;
}
.left-side-container input::placeholder {
    padding-left: 10px;
}

.left-side-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.left-side-container label {
    margin-left: 5px;
    margin-right: 7px;
    font-size: 25px;
    color: black;
}

.left-side-container img{
    border-radius:50%;
    height: 45px;
}

.profile-navbar-card{
    position: fixed;
    top: 57px;
    right: 0;
    width: 210px;
    background: #fff;
    margin-right: 2%;
    border-top: 0.05rem  var(--light-color) solid;
    border-bottom: 0.05rem  var(--light-color) solid;
    display: none;
    z-index: 1200;
}

.profile-navbar-card.active{
    display: inline-block;
   
}

.profile-navbar-card a{
    display: block;
    padding: 0.7rem 9%;
    font-size: 22px;
}

.profile-navbar-card a:hover {
    letter-spacing: .1rem;
}

.container {
    width: 100%;
    /* height: 520px; */
    display: flex;
    background-color: rgb(122, 169, 216);
      /* margin-bottom: 8px; */
      /* padding-bottom: 25px; */
    
}

.update-container-wrapper {
    width: 100%;
    background-color: rgb(122, 169, 216);
    /* margin-bottom: 8px; */
    padding-bottom: 25px;
    
}


.side_bar_section {
    display:flex;
    width: 24%;
    height: 560px;
    background-color: black;
    margin-top: 87px;
    float: left;
    border-radius: 15px;
   /* margin-left: 10px;  */
}

.main_hero {
    display: block;
    width: 70%;
    margin-top: 55px;
    /* float: left; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.update_form_header {
    margin-top: 5px;
    text-align: center;
    font-size: 35px;
    color: #fff;
}
.update_form {
    display: block;
    /* background-color: rgb(242, 242, 255); */
    background: rgb(242, 242, 255);
    border-radius: 30px;
    margin-top: 50px;
    /* color: rgb(75, 73, 73); */
}

.update_picture {
    padding-top: 30px;
}

.update_picture_input {
    width: 550px;
    height: 30px;
    margin-left: 150px;
    margin-top: 5px;
}

.update_all {
    font-size: 30px;
    display: block;
    margin-left: 100px;
    margin-top: 10px;
}

.update_input_all {
    width: 550px;
    height: 30px;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 5px;
    /* border: 0.02rem rgb(53,114,176) solid; */
    border: 1px rgb(75, 73, 73) solid;
}

/* .update_fullname_input {
    margin-left: 20px;
}

.update_email_input {
    margin-left: 75px;
}

.update_mat_no_input {
    margin-left: 54px;
} */

.update_select_all {
    width: 555px;
    height: 35px;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 5px;
    /* border: 0.02rem rgb(53,114,176) solid; */
    border: 1px rgb(75, 73, 73) solid;
}

/* .update_faculty_input {
    margin-left: 57px;
}

.update_dept_input {
    margin-left: 5px;
}

.update_level_input {
    margin-left: 78px;
}

.update_semester_input {
    margin-left: 37px;
} */

.course_selection {
    margin-left: 100px;
    margin-top: 40px;
}
.course_selection  span{
    font-size: 35px;
    text-align: left;
    display: block;
}

.course_headers {
    font-size: 25px;
    text-align: left;
}

.course_list_section {
    margin-top: 20px;
    margin-left: 30px;
    width: 150px;
    float: left;
}

.course_list_section div label {
    display: block;
    clear: both;
    margin-top: 10px;
    font-size: 20px;
    /* color: rgb(53,114,176); */
    color: rgb(75, 73, 73);
}

.first1, .first2, .first3, .first4 {
    display: block;
}

.second1, .second2, .second3, .second4 {
    display: none;
}

.each_course {
    margin-left: 20px;
    float: left;
}

.update_button {
    /* width: 82%;
    height: 47px;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgb(56, 56, 233);
    border: none;
    color: white;
    margin-bottom: 30px; */

    /* font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 270px;
    margin-top: 30px;
    background-color: rgb(199, 197, 197); */

    width: 70%;
    height: 47px;
    margin-left: 150px;
    margin-top: 40px;
    border-radius: 10px;
    /* background-color: rgb(56, 56, 233); */
    /* background-color: rgb(199, 197, 197); */
    background-color: rgb(122, 169, 216);
    border: none;
    /* color: white; */
    margin-bottom: 30px;
    font-size: 30px;
}

.update_button:hover {
     /* background-color: rgb(122, 169, 216); */
     background-color: rgb(199, 197, 197);
     /* color: white; */
     letter-spacing: .1rem;
}

.footer {
    font-size: 12px;
    background-color: rgb(204, 223, 216);
    text-align: center;
    height: 45px;
    width: 100%;
    padding-top: 20px;
    
    
}

footer {
    height: 45px;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 0;
}


@media screen and (min-width: 1450px) {
    .profile {
        margin-left: 990px;
    }

    .Signin-header {
        font-size: 45px;
    }

    .update_input_all {
        width: 650px;
        height: 33px;
    }

    .update_select_all {
        width: 655px;
        height: 38px;
    }
    .each_course {
        font-size: 22px;
    }
}

