@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0, .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


.App {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0.5rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}


.app_header {
    font-size: 30px;
    float: left;
    /* margin-left: 50px; */
}
.app_header .nav_link {
    text-decoration: none;
}

.nav_bar {
    float: left;
}

.signin-signup {
    font-size: 20px;
    /* text-align: left; */
    /* margin-top: 30px;
    margin-left: 890px; */
}


.anchor-signin {
    color:rgb(98, 98, 221)
}

.anchor-signup {
    color: #ec1e47;
}

.anchor-signin:hover, .anchor-signup:hover {
    text-decoration: underline;
}

.left-side-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side-container input {
    height: 35px;
    border-radius: 5px;
    margin-right:5px;
    border: 2px  var(--light-color) solid;
}
.left-side-container input::placeholder {
    padding-left: 10px;
}

.left-side-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.left-side-container label {
    margin-left: 5px;
    margin-right: 7px;
    font-size: 25px;
    color: black;
}

.left-side-container img{
    border-radius:50%;
    height: 45px;
}

.profile-navbar-card{
    position: fixed;
    top: 57px;
    right: 0;
    width: 210px;
    background: #fff;
    margin-right: 2%;
    border-top: 0.05rem  var(--light-color) solid;
    border-bottom: 0.05rem  var(--light-color) solid;
    display: none;
    z-index: 1200;
}

.profile-navbar-card.active{
    display: inline-block;
   
}

.profile-navbar-card a{
    display: block;
    padding: 0.7rem 9%;
    font-size: 22px;
}

.profile-navbar-card a:hover {
    letter-spacing: .1rem;
}
/* .container {
    width: 100%;
    background-color: rgb(122, 169, 216);
     margin-bottom: 8px; 
    padding-bottom: 25px;
    
} */

.container {
    width: 100%;
    height: 520px;
    display: flex;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(122, 169, 216); */
      margin-bottom: 100px;
      /* padding-bottom: 25px; */
    
}

.side_bar_section {
    display:flex;
    width: 24%;
    height: 560px;
    background-color: black;
    margin-top: 29px;
    float: left;
    border-radius: 15px;
    padding-top: 30px;
   /* margin-left: 10px;  */
}

.side_bar_section a {
    margin-top: 20px;
    background-color: rgb(199, 197, 197);
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    border: none;
    opacity: 0.8;
    text-decoration: none;
}

.side_bar_section a:hover {
    opacity: 1;
}


.side_bar_section a div{
    color: black;
    font-size: 30px;
    margin: auto;
}



.main_hero {
    
    display: block;
    width: 40%;
    margin-top: 130px;
    margin-left: -30px;
    margin-right: auto;
    text-align: left;
}

.landing_go_mark {
    text-align: left;
    font-size: 42px;
    /* color:rgb(98, 98, 221) */
    color: var(--black);
}

.landing_content {
    font-size: 25px;
    /* color: rgb(167, 166, 166); */
    color: var(--light-color);
    margin-top: 20px;
}

.landing_button {
    width: 350px;
    height: 70px;
    border-radius: 25px;
    margin-left: 85px;
    /* background-color:rgb(91, 91, 141); */
    background-color: var(--black);
    border: none;
    color: #fff;
    font-size: 30px;
    margin: 40px;
    opacity: 0.8;

    
    /* width: 70%;
    height: 47px;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 10px;
    /* background-color: rgb(56, 56, 233);
    /* background-color: rgb(199, 197, 197); 
    background-color: rgb(122, 169, 216);
    border: none;
    /* color: white; 
    margin-bottom: 30px;
    font-size: 30px; */
}

.landing_button:hover {
    /* opacity: 1; */
     /* background-color: rgb(122, 169, 216); */
   background-color: rgb(199, 197, 197);
    /* color: white; */
    letter-spacing: .1rem;
}

.landing_picture_avatar {
    width: 60%;
    margin-top: 100px;
    float: left;
}

.landing_picture_avatar figure img {
    height: 400px;
    width: 650px;
    border-radius: 0%;
    margin-left: 0px;
}



/* .footer {
    font-size: 12px;
    background-color: rgb(204, 223, 216);
    height: 45px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
    
}

footer {
    width: 100%;
    position: relative;
} */

.footer {
    font-size: 12px;
    background-color: rgb(204, 223, 216);
    text-align: center;
    height: 45px;
    width: 100%;
    padding-top: 20px;
    
    
}

footer {
    height: 45px;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 0;
}


@media screen and (min-width: 1450px) {
    .signin-signup {
        margin-left: 990px;
    }

    .Signin-header {
        font-size: 45px;
    }

    .footer {
        margin-top: 60px;
        font-size: 10px;
    }

}